/* settings for scrollable and fix-positioned side bar */
.sidebar {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar {
	border-right: 1px solid #eee;
	padding-left: 4px;
	padding-right: 4px;
}
