---
layout: basement
topdir: ../..
---
<!-- <nav class="navbar navbar-light bg-light"> -->
<!--
	<a class="logo" href="{{ topdir }}/index.html">
	  <img src="{{ topdir }}/assets/banner-medium.png" alt="Gura Programming Language" />
	</a>
-->
<nav class="navbar navbar-inverse navbar-fixed-left">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="/">Top</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if page.url contains '/document/' %} active{% endif %}" href="/document/">Document</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if page.url contains '/download/' %} active{% endif %}" href="/download/">Download</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if page.url contains '/gallery/' %} active{% endif %}" href="/gallery/">Gallery</a>
    </li>
  </ul>
</nav>
<div class="container">
  {{ content }}
</div>
</div>
